// ---
// ---
@import "./mixin.scss";

$Doughnut: "Doughnut-Regular.ttf";
$Hiragino: "Hiragino Maru Gothic ProN";
$green: #58be89; //メインカラー
$blue: #40aaef;
$yellow: #fba848;
$red: #f27398;

@include fontface($font-family: $Doughnut);

* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  font-family: $Hiragino;
}
a {
    color: $green;
}
header {
  height: 50px;
  padding: 0.5rem 0 0 1rem;
  background-color: $green;
  color: white;
  font-family: $Hiragino;
}
.WEB_GL {
  @include FullWindow;
  // background-image: url(../img/FH040028.JPG);
  @include flex-center();
  position: relative;
  h1 {
    font-family: $Doughnut;
    font-size: 40px;
  }
  .grid_area {
    @include ValueSetPrefix(display, grid);
    width: 300px;
    height: 200px;
    position: absolute;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-flow: dense;
    justify-content: center;
    z-index: -999;
    opacity: 0.8;
  }
  #item1 {
    grid-area: 3 / 2;
    background-color: $blue;
  }
  #item2 {
    grid-area: 3 / 3;
    background-color: $yellow;
  }
  #item3 {
    grid-area: 3 / 4;
    background-color: $red;
  }
  #item4 {
    grid-area: 3 / 5;
    background-color: $green;
  }
}
.about {
  @include content-width;
  #INTRODUCTION {
    text-align: center;
    border-bottom: 5px $green solid;
    padding-bottom: 5px;
    width: 120px;
    margin: auto;
    @include mq(sp) {
      margin: initial;
    }
  }
  &__wrap {
    @include ValueSetPrefix(display, grid);
    grid-template-rows: 400px;
    grid-template-columns: 40% 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
    @include mq(medium) {
      display: block;
      text-align: center;
      margin-top: 30px;
    }
  }
  &__left {
    @include mq(medium) {
      @include flex-center($justify: left);
    }
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin: auto;
      display: block;
      @include mq(medium) {
        width: 65px;
        height: 65px;
        margin: initial;
      }
    }
    &__text {
      text-align: center;
      margin-top: 1rem;
      @include mq(medium) {
        text-align: left;
        margin-left: 20px;
      }
    }
  }
  &__right {
    @include mq(medium) {
      margin-top: 30px;
    }
    .skill {
      @include mq(medium) {
        text-align: left;
      }
      #skill {
        border-bottom: $blue solid 3px;
        padding-top: 3px;
        width: 250px;
      }
      &__list {
        @include flex-center($justify: left);
        flex-direction: row;
        &__item {
          display: inline-block;
          margin: 0.5rem;
          font-size: 45px;
        }
      }
      &__all {
        width: 100%;
        display: block;
        word-break: break-all;
      }
    }
    .hobby {
      margin-top: 30px;
      @include mq(medium) {
        text-align: left;
        margin-top: 15px;
      }
      #hobby {
        border-bottom: $red solid 3px;
        padding-top: 3px;
        width: 60px;
      }
      &__list {
        margin-top: 15px;
        @include mq(xsmall) {
          text-align: left;
        }
        &__item {
        }
      }
    }
  }
}
.output {
    @include content-width;
    #OUTPUT {
        margin: auto;
        text-align: center;
        border-bottom: solid 5px $green;
        padding-bottom: 5px;
        width: 165px;
        margin-top: 30px;
    }
  &__list {
    @include flex-center;
    flex-wrap: wrap;
    margin: 30px 0;
    @include mq(sp) {
        margin: initial;
    }
    &__item {
      width: 400px;
      margin: 30px 10px;
      @include mq(medium) {
        width: 100%;
        margin: 30px 0;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      &__img {
        width: 400px;
        height: 200px;
        border: $green solid 1px;
        border-radius: 10px;
        opacity: 0.6;
        background: url(../img/no_image.png);
        @include mq(sp) {
            width: 100%;
            height: 150px;
        }
      }
      &__tech {
        display: inline-block;
        width: 15px;
        height: 15px;
        font-size: 20px;

    }
    }
  }
}

.form {
  @include content-width;
  margin-top: 60px;
  @include mq(medium) {
    width: 70%;
  }
  #FORM {
    text-align: center;
    border-bottom: 5px $green solid;
    padding-bottom: 5px;
    width: 180px;
    margin: auto;
  }
  &__content {
    text-align: center;
    margin-top: 30px;
  }
}

footer {
  @include flex-center;
  background-color: $green;
  height: 100px;
  text-align: center;
  margin-top: 100px;
}
