@font-face {
  font-family: "Doughnut-Regular.ttf";
  src: url("../font/Doughnut-Regular.ttf") format("woff"); }
* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  font-family: "Hiragino Maru Gothic ProN"; }

a {
  color: #58be89; }

header {
  height: 50px;
  background-color: #58be89;
  color: white;
  font-family: "Hiragino Maru Gothic ProN"; }
  header h2 {
    padding: 0.5rem 0 0 1rem; }

.WEB_GL {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; }
  .WEB_GL h1 {
    font-family: "Doughnut-Regular.ttf";
    font-size: 40px; }
  .WEB_GL .grid_area {
    display: grid;
    display: -moz-grid;
    display: -webkit-grid;
    width: 300px;
    height: 200px;
    position: absolute;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-flow: dense;
    justify-content: center;
    z-index: -999;
    opacity: 0.8; }
  .WEB_GL #item1 {
    grid-area: 3 / 2;
    background-color: #40aaef; }
  .WEB_GL #item2 {
    grid-area: 3 / 3;
    background-color: #fba848; }
  .WEB_GL #item3 {
    grid-area: 3 / 4;
    background-color: #f27398; }
  .WEB_GL #item4 {
    grid-area: 3 / 5;
    background-color: #58be89; }

.about {
  width: 95%;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .about {
      width: 70%; } }
  .about #INTRODUCTION {
    text-align: center;
    border-bottom: 5px #58be89 solid;
    padding-bottom: 5px;
    width: 120px;
    margin: auto; }
    @media screen and (max-width: 600px) {
      .about #INTRODUCTION {
        margin: initial; } }
  .about__wrap {
    display: grid;
    display: -moz-grid;
    display: -webkit-grid;
    grid-template-rows: 400px;
    grid-template-columns: 40% 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px; }
    @media screen and (max-width: 768px) {
      .about__wrap {
        display: block;
        text-align: center;
        margin-top: 30px; } }
  @media screen and (max-width: 768px) {
    .about__left {
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: center; } }
  .about__left img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    display: block; }
    @media screen and (max-width: 768px) {
      .about__left img {
        width: 65px;
        height: 65px;
        margin: initial; } }
  .about__left__text {
    text-align: center;
    margin-top: 1rem; }
    @media screen and (max-width: 768px) {
      .about__left__text {
        text-align: left;
        margin-left: 20px; } }
  @media screen and (max-width: 768px) {
    .about__right {
      margin-top: 30px; } }
  @media screen and (max-width: 768px) {
    .about__right .skill {
      text-align: left; } }
  .about__right .skill #skill {
    border-bottom: #40aaef solid 3px;
    padding-top: 3px;
    width: 250px; }
  .about__right .skill__list {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-direction: row; }
    .about__right .skill__list__item {
      display: inline-block;
      margin: 0.5rem;
      font-size: 45px; }
  .about__right .skill__all {
    width: 100%;
    display: block;
    word-break: break-all; }
  .about__right .hobby {
    margin-top: 30px; }
    @media screen and (max-width: 768px) {
      .about__right .hobby {
        text-align: left;
        margin-top: 15px; } }
    .about__right .hobby #hobby {
      border-bottom: #f27398 solid 3px;
      padding-top: 3px;
      width: 60px; }
    .about__right .hobby__list {
      margin-top: 15px; }
      @media screen and (max-width: 340px) {
        .about__right .hobby__list {
          text-align: left; } }

.output {
  width: 95%;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .output {
      width: 70%; } }
  .output #OUTPUT {
    margin: auto;
    text-align: center;
    border-bottom: solid 5px #58be89;
    padding-bottom: 5px;
    width: 165px;
    margin-top: 30px; }
  .output__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 30px 0; }
    @media screen and (max-width: 600px) {
      .output__list {
        margin: initial; } }
    .output__list__item {
      width: 400px;
      margin: 30px 10px; }
      @media screen and (max-width: 768px) {
        .output__list__item {
          width: 100%;
          margin: 30px 0; } }
      .output__list__item a {
        text-decoration: none;
        color: #000; }
      .output__list__item__img {
        width: 400px;
        height: 200px;
        border: #58be89 solid 1px;
        border-radius: 10px;
        opacity: 0.6; }
        @media screen and (max-width: 600px) {
          .output__list__item__img {
            width: 100%;
            height: 150px; } }
      .output__list__item__tech {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 1px;
        font-size: 20px; }
        .output__list__item__tech img {
          width: 15px;
          height: 15px; }

.form {
  width: 95%;
  margin: auto;
  margin-top: 60px; }
  @media screen and (max-width: 768px) {
    .form {
      width: 70%; } }
  @media screen and (max-width: 768px) {
    .form {
      width: 70%; } }
  .form #FORM {
    text-align: center;
    border-bottom: 5px #58be89 solid;
    padding-bottom: 5px;
    width: 180px;
    margin: auto; }
  .form__content {
    text-align: center;
    margin-top: 30px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #58be89;
  height: 100px;
  text-align: center;
  margin-top: 100px; }
